/* mission */

.mission{
    margin: 100px 0;

}

.mission__infos{
    background: #F4F0F8;
    display: flex;justify-content: space-between;
    align-items: center;
    padding: 83px 86px;
}

.mission__info{
    max-width: 500px;
}

.mission__intro{
    font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
letter-spacing: 3px;
color: #232536;
margin-bottom: 24px;
}

.mission__title{
    font-family: 'Sen';
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #232536;
    margin-bottom: 16px;
}

.mission__desc{
    font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #6D6E76;
}


/* team */

.team__info1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.brief__info{
    max-width: 500px;
}

.team__intro{
    font-family: 'Sen';
font-weight: 700;
font-size: 36px;
line-height: 48px;
letter-spacing: -2px;
color: #232536;
}



.team__title{
    font-family: 'Sen';
font-weight: 700;
font-size: 24px;
line-height: 32px;
color: #232536;
margin-top: 16px;
}


.team__desc{
    font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #232536;
}

.team__image  img{
 width: 100%;
 height: 100%;
}

.team__image{
    overflow: hidden;
}

.team__image  img:hover{
    transform: scale(1.1,1.1);
}



.team__info2{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}






/* Media query */

@media screen and (max-width:768px) {
    .mission__infos{
        flex-direction: column;
        row-gap: 60px;
        justify-content: center;
    }

    .box{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
}